// * {
//   margin: 0;
// }

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.header-text {

}

.container {
  width: 100%;
}

.content-container {
  width: 70%;
}

.media-container {
  width: 30%;
}
