@import '_commons/_all.scss';

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.header-text {

}

.container {
  width: 100%;
}

.content-container {
  width: 70%;
}

.media-container {
  width: 30%;
}

.cast-blurb-title-bs {
  font-size: $font-3-large;
  letter-spacing: $letter-spacing-expand-small;
  font-weight: 900;
}

.cast-blurb-text-bs {
  font-size: $font-4-large;
  letter-spacing: $letter-spacing-std;

}
